a {
  text-decoration: none;
}

.navBar {
  min-width: 1014px;
  width: 100%;
  height: 60px;
  background: #131921;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.logoContainer {
  display: flex;
  // width: 20%;
}

.logo {
  height: 50px;
  padding-top: 11px;
  padding-left: 6px;
  padding-right: 8px;
  margin-top: 1px;
  margin-left: 10px;
}

// .logo:hover {
//   border: 1px solid white;
// }

.navSearch {
  display: flex;
  flex-direction: row;
  min-width: 600px;
  width: 1400px;
}

.navForm {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navLeft {
  height: 40px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2px;
  background-color: #f3f3f3;
  color: #131921;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  border-right: 1px solid #919090;
}

.navLeft:hover {
  background-color: #c4c4c4;
}

.navSearchLabel {
  position: relative;
  left: 2px;
  font-size: 0.75rem;
}

.arrowIcon {
  margin-left: 2px;
}

.navFill {
  min-width: 286px;
  width: 100%;
}

.navSearchFill {
  background: #fff;
  height: 40px;
  display: flex;
  align-items: center;
}

.navSearchInput {
  border: none;
  width: 100%;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.navRightSearch {
  height: 40px;
  width: 45px;
  background-color: #febd69;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.navRightSearchIcon {
  color: black;
}

.navRight {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 40px;
}

.accountSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: auto;
  height: 40px;
  padding-left: 10px;
  min-width: 124px;
  

}

.accountLine_1 {
  font-size: 0.75rem;
}

.accountLine_2 {
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
}

.historySection {
  color: white;
  padding-bottom: 6px;
  padding-left: 10px;
  min-width: 70px;

}

.cartSection {
  color: white;
  display: flex;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.cartCountContainer {
  display: flex;
}

.cartCount {
  position: relative;
  top: 7px;
  right: -23px;
  color: #f08804;
  font-weight: 700;
}

.cartTextContainer {
  display: flex;
  align-items: flex-end;
}

.cartText {
  font-size: 0.875rem;
  font-weight: 700;
}
