.cardUi {
  height: 100%;
  position: relative;
  //   margin: 0 10px;
  overflow: hidden;
  flex-direction: column;
  display: block;
  padding: 0 10px;

  // dimensiones
  max-width: 400px;
  min-width: 290px;
  height: 420px;
}

.cardContainer {
  background: grey;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 15px;
  height: 100%;
}

.titleContainer {
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
}

.title {
  max-height: 54.6px;
  font-size: 1.3125rem;
  line-height: 1.7063rem;
  margin: 0;
  padding: 0;
}
